name: Release a Changelog

on:
  push:
    branches:
      - master

jobs:
  release_a_changelog:
    name: Release a Changelog
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Release a Changelog
        uses: ./
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
